
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .madListTbl{
            border: 1px solid black;
            width: 100%;
            border-collapse: collapse;
        }
        .madListTbl tr th{
            border: 1px solid black;
        }
        .madListTbl tr td{
            border: 1px solid black;
            text-align: center;
            
        }
        .subtbl{
            opacity: initial;
            border: 0px solid black;
            width: 97%;
            border-collapse: collapse;
            margin: 10px 10px 10px 10px;
        }
        .subtbl tr td{
            border: 0px solid black;
            border-top: 1px solid black;
            padding: 10px 0px;

        }
    </style>

    <script>


        window.onload = function (){
            var memo = document.getElementsByClassName('madListTbl');
            
            var membershipList=[
                {
                    sep:1001,
                    img:"http://www.hanbit.co.kr/images/common/logo_hanbit.png",
                    name:"홀길동",
                    department:"개발",
                    rank:"부장",
                    ckBox:false
                },
                {
                    sep:1002,
                    img:"http://www.hanbit.co.kr/images/common/logo_hanbit.png",
                    name:"배승환",
                    department:"기획",
                    rank:"실장",
                    ckBox:false
                },
            ];
        }

        var list = document.getElementById('list');
        var name = document.getElementById('departmentIput');
        var rank = document.getElementById('rankIput');

        var imgBtn = document.querySelector('#imgIputBtn');
        var submitBtn = document.querySelector('#submitBtn'); 


        //기본 생성 함수
        function drawList (){
            //리스트 값에 따라 생성
        }

        
    </script>
</head>
<body>
    <form action="#">
        이름<input id="nameIput" type="text" value="홍길동"><br>
        부서<input id="departmentIput"type="text" value="개발"><br>
        직책<input id="rankIput" type="text" value="대리"><br>
        사진<button type="button" id="imgIputBtn">파일 선택</button> 선택된 파일 없음<br>
        <br>
        <button id="submitBtn" type="submit"  style="border: 0; border-radius: 5px; background-color: rgb(211, 51, 51); color: white; width: 100px; height: 30px;">새 사원 추가</button>
    </form>

    <hr>

    <form action="#">
        <input type="button" value="선택 삭제"> 
        | 검색: 
        <select name="1" id="1">
            <option value="name">이름</option>
            <option value="department">부서</option>
            <option value="position">직책</option>
        </select>
        <input type="text">
        <table class="madListTbl">
            <tbody>
                <tr style="background-color:orange">
                    <th><input type="checkbox"></th>
                    <th>번호</th>
                    <th>사진</th>
                    <th>사원명</th>
                    <th>부서</th>
                    <th>직급</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td rowspan="3"><input type="checkbox"></td>
                    <td rowspan="3">1043</td>
                    <td><img src="http://www.hanbit.co.kr/images/common/logo_hanbit.png" width="300" height="200"></td>
                    <td>홍길동</td>
                    <td>개발</td>
                    <td>대리</td>
                    <td rowspan="3"><input type="button" value="edit"></td>
                    <td rowspan="3"><input type="button" value="delete"></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table with="100%" class="subtbl">
                            <tbody>
                                <tr>
                                    <td>번호</td>
                                    <td>댓글 내용</td>
                                    <td>작성자</td>
                                    <td>수정</td>
                                    <td>삭제</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ㅁㄴㅇㅁㄴㅇ</td>
                                    <td>송민규</td>
                                    <td><button type="button">수정</button></td>
                                    <td><button type="button"> 삭제</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ㅁㄴㅇㅁㄴㅇ</td>
                                    <td>이창준</td>
                                    <td><button type="button">수정</button></td>
                                    <td><button type="button"> 삭제</button></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        댓글
                                        <input type="text" style="width: 50%; margin: 5px; ">
                                        작성자
                                        <input type="text" style="width: 50px;">
                                        <input type="button" value="댓글입력">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>

        </table>
    </form>
    
</body>
</html>