<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>일정 정보</h3>
    <h1>
        todo page
    </h1>
    <form action="/todo" method="get">
      <input type="text" name="title" value="">
      <button type="submit">검색</button>
    </form>
    <hr>
    <table width =" 100%" border="1">
        <tr>
            <th>번호</th>
            <th>메세지</th>
        </tr>
        <% 
        todoList.forEach(function(todo){
        %>
        <tr>
            <th><a href="/todo?no=<%= todo.no %>"><%= todo.no %></a></th>
            <th><%= todo.title %></a></th>
        </tr>
        <%
        })
        %>
    </table>
    <hr>
        <h3 style="margin: 0;">일정 작성</h3>
    <form action="/todo/input" method="post">
        <input type="text" name="title" value="">
        <button type="submit">등록</button>
    </form>
</body>
</html>