<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>사람 정보</h3>
     <h1>
        saram page
     </h1>
     <table width =" 100%" border="1">
        <tr>
            <th>번호</th>
            <th>메세지</th>
        </tr>
        <% 
        todoList.forEach(function(todo){
        %>
        <tr>
            <th><a href="/todo?no=<%= todo.no%>"><%= todo.no%></a></th>
            <th><%= todo.title %></a></th>
        </tr>
        <%
        })
        %>
     </table>
</body>
</html>