<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>일정 정보 수정</h1>
    <form action="/todo/updat/:no?_method=PUT" method="post">
        <input type="hidden" name="no" value="<%=todo.no %>">
        내용: <input type="text" name="title" value="<%=todo.title %>"><br>
        <input type="hidden" name="done" value="<%=todo.done %>">
        <input type="submit" value="수정">
    </form>
</body>
</html>