<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/todo/delete/:no?_method=DELETE" method="post">
    "<%=todo.title %>"이 내용을 삭제 하겠습니까?
    <input type="hidden" name="no" value="<%=todo.no %>">
    <input type="hidden" name="title" value="<%=todo.title %>"><br>
    <input type="hidden" name="done" value="<%=todo.done %>">
    <input type="submit" value="네">
  </form>
  
</body>
</html>